{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["jest"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "globals": {
    "Quill": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "object-curly-newline": ["error", {
      "ObjectExpression": { "multiline": true, "consistent": true },
      "ObjectPattern": { "multiline": true, "consistent": true }
    }]
  }
}